@{
    ViewBag.Title = "JAC Light Library";
}

<div class="jumbotron">
    <h3>@ViewBag.Title</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Library Assets</h3>
                </div>
                <div class="panel-body">
                    Library Assets
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    Users
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">New Asset</h3>
                </div>
                <div class="panel-body">
                    New Asset
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">New User</h3>
                </div>
                <div class="panel-body">
                    New User
                </div>
            </div>
        </div>
    </div>
</div>